.card {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: white;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .card-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  
  .card-content {
    padding: 15px;
    text-align: center;
  }
  
  .card-title {
    font-size: 1rem;
    margin: 0 0 10px;
  }
  
  .card-description {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 15px;
  }
  
  .card-button {
    padding: 10px 15px;
    font-size: 1rem;
    color: white;
    background-color: #540909;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s;
  }
  
  .card-button:hover {
    background-color: #420707;
  }

  /* Modal Overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: opacity 0.3s;
}

/* Modal Content */
.modal-content {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    max-width: 380px;
    margin-right: 15px;
    width: 100%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.modal-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.modal-close-button {
    padding: 10px 15px;
    font-size: 1rem;
    color: white;
    background-color: #540909;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.modal-content p, .modal-content h2 {
    color: black;
    font-size: 1rem;
    margin-bottom: 15px;
}

.modal-close-button:hover {
    background-color: #420707;
}
  
.row {
    justify-content: space-evenly;
}